body {
  text-align: center;
  margin-top: 100px;
  font-family: Arial;
}

input {
  padding: 10px;
  margin: 5px;
  width: 250px;
}

button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
}
